.sidebar {
  position: fixed;
  top: 10px; /* Add space from the top edge */
  left: 10px; /* Add space from the left edge */
  width: 200px;
  height: calc(100vh - 20px); /* Adjust height to account for top and bottom margins */
  background-color: #ffd139;
  padding: 10px;
  box-sizing: border-box;
  border: 10px solid #947200;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}
